<h1>Eat Da Burgerz!</h1>

<h2>Burgers you WANT to devour!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}
        {{> burgers/devour-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you HAVE devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
        {{> burgers/devour-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

{{> burgers/add-burger}}
